<a href="https://colab.research.google.com/github/Chiiiiiiiiii22/Introduction-to-Computers-/blob/main/0606.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print('0606test')

0606test

In [ ]:
i = 0
result = 0
while i <= 50:
  if i % 2 == 0:
     result +=i
  i+=1
print('0-50的偶數和結果是%d' % result)

0-50的偶數和結果是650

In [ ]:
i = 0
result = 0
while i <= 50:
  if i % 2 != 0:
     result +=i
  i+=1
print('0-50的奇數和結果是%d' % result)

0-50的奇數和結果是625

In [ ]:
n = int(input('請輸入正整數: '))
for i in range(1,n+1):
  for j in range(i,n+1):
    print('*',end='')
  print()

請輸入正整數: 10
**********
*********
********
*******
******
*****
****
***
**
*

In [ ]:
sum = 0
for i in range(0,101):
  if (i%3==0 or i%7==0):
    sum +=i
print('數值1-100中,所以是 3 或 7 倍數的數之總和 = ',sum)

數值1-100中,所以是 3 或 7 倍數的數之總和 =  2208

In [ ]:
p=1
counter=0
n = int(input('請輸入正整數'))
print(n,'的因數有',end=' ')
while(p<=n):
  if (n%p==0):
    print(p,end=' ')
    counter+=1
  p+=1

print()
if (counter==2):
  print(n,'是質數')
else:
  print(n,'不是質數')

請輸入正整數3
3 的因數有 1 3
3 是質數

In [ ]:
list1 = [1,2,3,4,5]

In [ ]:
list1

[1, 2, 3, 4, 5]

In [ ]:
list2 = ['香蕉','蘋果','橘子']

In [ ]:
list2

['香蕉', '蘋果', '橘子']

In [ ]:
list3 = [1,'香蕉',True]

In [ ]:
list3

[1, '香蕉', True]

In [ ]:
print(list1)

[1, 2, 3, 4, 5]

In [ ]:
print(list1[0])

1

In [ ]:
print(list1[1])

2

In [ ]:
print(list1[0])
print(list1[1])
print(list1[2])
print(list1[3])
print(list1[4])

1
2
3
4
5

In [ ]:
list4 = ['香蕉','蘋果','橘子']

In [ ]:
print(list4[1])

蘋果

In [ ]:
print(list4[0])
print(list4[1])
print(list4[2])

香蕉
蘋果
橘子

In [ ]:
print(list4[3])

IndexError: ignored

In [ ]:
print(list4[-1])

橘子

In [ ]:
print(list4[-2])

蘋果

In [ ]:
print(list4[-3])

香蕉

In [ ]:
print(list4[-4])

IndexError: ignored

In [ ]:
list5 =[['tom','1234']],['mary','abcd'],['david','5678']

In [ ]:
print(list5[1])

['mary', 'abcd']

In [ ]:
print(list5[0])

[['tom', '1234']]

In [ ]:
print(list5[1][1])

abcd

In [ ]:
print(list5[0])

[['tom', '1234']]

In [ ]:
print(list5[0][0])

['tom', '1234']

In [ ]:
print(list5[0][0])

['tom', '1234']

In [ ]:
print(list5[1][0])

mary

In [ ]:
list6 = ['85','79','93']

In [ ]:
print('國文成績:',list6[0],'分')
print('數學成績:',list6[1],'分')
print('英文成績:',list6[2],'分')

國文成績: 85 分
數學成績: 79 分
英文成績: 93 分

In [ ]:
list7 = [1,2,3,4,5]

In [ ]:
print(list7[0])

1

In [ ]:
list7[0]=9

In [ ]:
print(list7[0])

9

In [ ]:
print(list7)

[9, 2, 3, 4, 5]

In [ ]:
list8 = ['香蕉','蘋果','橘子']

In [ ]:
for s in list8:
  print(s,end=',')

香蕉,蘋果,橘子,

In [ ]:
items = [123,'apple',True]

In [ ]:
for items in items:
  print(items)

123
apple
True

In [ ]:
scores = [85,79,93]

In [ ]:
print(len(scores))

3

In [ ]:
scores = [85,79,93]
for i in range(len(scores)):
  print(scores[i])

85
79
93

In [54]:
scores1 = [85]
scores2 = [79]
scores3 = [93]
for j in range (len(scores1)):
 print('國文成績:',scores1[j],'分')
for k in range (len(scores2)):
 print('數學成績:',scores2[k],'分')
for l in range (len(scores3)):
 print('英文成績:',scores3[l],'分')

國文成績: 85 分
數學成績: 79 分
英文成績: 93 分

In [59]:
number1 = [1]
number2 = [2]
number3 = [3]
name1 = 'Tom'
name2 = 'Mary'
name3 = 'Tony'
for m in range (len(number1)):
 print('編號:',number1[m],'姓名:',name1)
for n in range (len(number2)):
 print('編號:',number2[n],'姓名:',name2)
for o in range (len(number3)):
 print('編號:',number3[o],'姓名:',name3)

編號: 1 姓名: Tom
編號: 2 姓名: Mary
編號: 3 姓名: Tony